        

<!DOCTYPE html>

<head>
       
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="{{site.url}}css/styles.css">  
<link rel="stylesheet" href="{{site.url}}css/main2.css">     
<link rel="stylesheet" href="{{site.url}}css/normalize.css">
<link rel="stylesheet" href="{{site.url}}css/main.css"> 
<link href="https://get.gridsetapp.com/31397/" rel="stylesheet" />  
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>


</head>
    

  <body class="loading">
         
  <nav class="wrap" data-anchor-target="#content" data-200-top="opacity:0;" data-150-top="visibility:visible; top: -55px; opacity: 0.3;" data-100-top="opacity: 1; position: fixed; top: 0;">
    <div class="container">
        <div class="five columns">My Company</div>
        <div class="eleven columns last">
           <div class="main-nav da-all t-all m-all">  

                          <h1>Paper & Ink </h1>
                                        
                            <ul>
                                <li><a href="{{site.url}}/service">Services</a></li>
                                <li><a href="{{site.url}}/projects">Projects</a></li>
                                <li><a href="{{site.url}}/upload">Upload File</a></li>
                                <li><a href="{{site.url}}/how">How We Work</a></li>
                                <li><a href="{{site.url}}/contact">Contact</a></li>          
                            </ul>

                        
          </div> 
        </div>
    </div>
</nav>
     